<div>
  <h1>Edit Page</h1>
  <form action="/questions" method="post">
    <label for="title">Title</label>
    <input id="title" type="text" name="question[title]" placeholder="What's your mischievous curiousity? Be specific."><br><br>
    <textarea rows="4" cols="50" name="question[content]" placeholder="Provide more context for your question..."></textarea><br><br>
    <input type="submit" value="Post Your Question">
    <a href="/questions">Cancel</a>
  </form>
</div>
