<div>
  <section>
    <h1>All Mischievous Questions</h1>
    <p><a href="/questions/new"> Ask Question </a></p>
  </section>

  <section>
    <% @questions.each do |question| %>
      <hr>
      <article>
        <h3> <a href="/questions/<%= question.id %>"> <%= question.title %> </a> </h3>
        <p> <%= question.content %> </p>
        <p> Asked by <%= question.user.username.capitalize %> </p>
      </article>
    <% end %>
    <hr>
  </section>
</div>
