<div class="vote">
  <form method="post" action='/questions/<%= @question.id %>/upvote' class="inline">
    <button class="fa fa-sort-asc" type="submit" id="upvote"></button>
  </form>
  <p><%= @question.all_votes %></p>
  <form method="post" action='/questions/<%= @question.id %>/downvote' class="inline">
    <button class="fa fa-sort-desc" type="submit" id="downvote"></button>
  </form>
</div>
