  <h1>Hi <%= @user.username.capitalize %>!</h1>
<div class="profile-welcome">
    <h3>Welcome to your profile page.</h3>
    <p>Here you can access your answers and questions. Thanks for coming to the Heavy Mischief community.</p>
</div>
