  <h1>Hi <%= @user.username.capitalize %>!</h1>
<div class="profile-welcome">
    <h3
    <p>Welcome to your profile page. Here you can access your answers and questions. Thanks for coming to the Heavy Mischief community.</p>
</div>
