<div class="answer-container">

  <h1>What's your answer?</h1>
  <%=  erb :'/partials/_errors'%>
  <form class="answer-form" action="/questions/:id/answers" method="post">
    <label for="your_answer">Your Answer</label>
    <input type="text" name="answer" value="" id='answer'>

    <input type="submit" name="" value="Post Your Answer">
  </form>
</div>
