<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Heavy Mischief</title>
</head>
<body>

  <header class="nav-bar">
      <h1 class="site-title">Heavy Mischief</h1>
      <nav>
        <% if current_user %>
          <a href="/" id="home-button" class="nav-bar-button">Home</a>
          <a href="/users/<%= current_user.id %>/profile" class="nav-bar-button">Profile</a>
          <a href="/logout" class="nav-bar-button">Logout</a>
        <% else %>
          <a href="/" id="home-button" class="nav-bar-button">Home</a>
          <a href="/users/login" class="nav-bar-button" id = "login-link">Login</a>
          <a href="/users/new" class="nav-bar-button" id = "register-link">Register</a>
        <% end %>
      </nav>
    </header>

  <%= yield %>
</body>
</html>
